# To-do list
todo.txt

# CMake
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# clangd
.cache/

# Swap files
*.swp

# Doxygen files
.doxy.config*
doxygen/

# Folder containing 2009 Tetris Guidelines
2009-tetris-guideline
