# Visual Studio Code project files
# -- Re-included despite this being considered 'bad practice' by some since this is just a private repo
# .vscode/

# Build files
build/

# Main executable
main.out

# Swap files
*.swp

# Doxygen files
.doxy.config*
doxygen/

# Folder containing 2009 Tetris Guidelines
2009-tetris-guideline
